[submodule "neovim"]
	path = neovim
	url = https://github.com/Legrems/nv-chad.git
[submodule "scripts"]
	path = scripts
	url = ../scripts.git
[submodule "scripts-hidden"]
	path = scripts-hidden
	url = ../scripts-hidden.git
[submodule "neovim-config"]
	path = neovim-config
	url = ../neovim-config.git
[submodule "hyprland-config"]
	path = hyprland-config
	url = ../hyprland-config.git
