conky.config = {
    alignment = 'top_right',
    background = false,
    border_width = 6,
    default_color = '#A4BCDC',
    color1 = '#F1F1F2',
    color2 = '#FFFFFF',
    color3 = '#7192D3',
    double_buffer = true,
    draw_borders = false,
    draw_outline = false, -- amplifies text if yes
    draw_shades = false,
    font = 'Courier New:normal:size=11',
    gap_x = 10,
    gap_y = 150,
    maximum_width  = 450,
    minimum_width  = 450,
    no_buffers = true,

    own_window = true,
    own_window_type = 'desktop',
    own_window_transparent = true,
    own_window_argb_visual = true,
    --own_window_argb_value = 255,
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
    draw_blended = false,

    stippled_borders = 2,
    update_interval = 1.0,
    uppercase = false, -- set to yes if you want all text to be in uppercase
    use_spacer = 'right',
    use_xft = true,

}

conky.text = [[
${color1}${font Sans:normal:size=9}CPU ${hr 2}$color$font
${execi 86400 cat /proc/cpuinfo | grep 'model name' | uniq | sed 's/model name\t: //'}

Total CPU: ${cpu cpu0}% Temp: $color ${exec sensors|grep 'CPUTIN'|awk '{print $2}'}
${color2}${cpubar}$color
${cpugraph FFFFFF FFFFFF}
Core 1: ${if_match ${freq 1}<1000} ${endif}${freq 1} MHz Temp: $color ${exec sensors|grep 'Core 0'|awk '{print $3}'}
${if_match ${cpu cpu1}<10} ${endif}${cpu cpu1}%  ${color2}${cpubar cpu1}$color
Core 2: ${if_match ${freq 2}<1000} ${endif}${freq 2} MHz Temp: $color ${exec sensors|grep 'Core 1'|awk '{print $3}'}
${if_match ${cpu cpu2}<10} ${endif}${cpu cpu2}%  ${color2}${cpubar cpu2}$color
Core 3: ${if_match ${freq 3}<1000} ${endif}${freq 3} MHz Temp: $color ${exec sensors|grep 'Core 2'|awk '{print $3}'}
${if_match ${cpu cpu3}<10} ${endif}${cpu cpu3}%  ${color2}${cpubar cpu3}$color
Core 4: ${if_match ${freq 4}<1000} ${endif}${freq 4} MHz Temp: $color ${exec sensors|grep 'Core 3'|awk '{print $3}'}
${if_match ${cpu cpu4}<10} ${endif}${cpu cpu4}%  ${color2}${cpubar cpu4}$color
Core 5 ${if_match ${freq 5}<1000} ${endif}${freq 5} MHz Temp: $color ${exec sensors|grep 'Core 4'|awk '{print $3}'}
${if_match ${cpu cpu5}<10} ${endif}${cpu cpu5}%  ${color2}${cpubar cpu5}$color
Core 6: ${if_match ${freq 6}<1000} ${endif}${freq 6} MHz Temp: $color ${exec sensors|grep 'Core 5'|awk '{print $3}'}
${if_match ${cpu cpu6}<10} ${endif}${cpu cpu6}%  ${color2}${cpubar cpu6}$color
Core 7: ${if_match ${freq 7}<1000} ${endif}${freq 7} MHz
${if_match ${cpu cpu7}<10} ${endif}${cpu cpu7}%  ${color2}${cpubar cpu7}$color
Core 8: ${if_match ${freq 8}<1000} ${endif}${freq 8} MHz
${if_match ${cpu cpu8}<10} ${endif}${cpu cpu8}%  ${color2}${cpubar cpu8}$color
Core 9: ${if_match ${freq 9}<1000} ${endif}${freq 9} MHz
${if_match ${cpu cpu9}<10} ${endif}${cpu cpu9}%  ${color2}${cpubar cpu9}$color
Core 10: ${if_match ${freq 10}<1000} ${endif}${freq 10} MHz
${if_match ${cpu cpu10}<10} ${endif}${cpu cpu10}%  ${color2}${cpubar cpu10}$color
Core 11: ${if_match ${freq 11}<1000} ${endif}${freq 11} MHz
${if_match ${cpu cpu11}<10} ${endif}${cpu cpu11}%  ${color2}${cpubar cpu11}$color
Core 12: ${if_match ${freq 12}<1000} ${endif}${freq 12} MHz
${if_match ${cpu cpu12}<10} ${endif}${cpu cpu12}%  ${color2}${cpubar cpu12}$color

${color1}${font Sans:normal:size=9}MEMORY ${hr 2}$color$font
RAM: ${mem} / ${memmax}
${if_match $memperc<10} ${endif}$memperc%  ${color FFFFFF}${membar 6}$color
Swap: ${swap} / ${swapmax}
${if_match $swapperc<10} ${endif}$swapperc%  ${color FFFFFF}${swapbar 6}$color

${color1}${font Sans:normal:size=9}NETWORK ${hr 2}$color$font
State:${alignr} ${if_existing /sys/class/net/enp47s0u2u1u2/operstate up}${color FFFFFF}ONLINE${else}${color red}OFFLINE${endif}$color
ISP: ${alignr} ${execi 6000 curl ipinfo.io/org}
Locale: ${alignr} ${execi 6000 curl ipinfo.io/city}, ${execi 6000 curl ipinfo.io/region}, ${execi 6000 curl ipinfo.io/country}
#${alignr} ${execi 6000 curl ipinfo.io/loc}
Local IP: ${alignr} ${addr enp47s0u2u1u2}
Public IP: ${alignr} ${execi 600 wget http://ipinfo.io/ip -qO -}
#Total connections: ${alignr}${tcp_portmon 1 65535 count}
Ping to 10.0.0.1: $alignr ${texeci 15 output=$(ping -c 10 10.0.0.1); avg=$(printf "%0.1f" `echo $output | awk -F '/' 'END {print $5}'` | sed 's/,/./'); mdev=$(printf "%0.1f" `echo $output | awk -F '/' 'END {print $7}' | sed 's/ .*//'` | sed 's/,/./'); echo $avg ± $mdev ms}
Ping to 1.1.1.1: $alignr ${texeci 15 output=$(ping -c 10 1.1.1.1); avg=$(printf "%0.1f" `echo $output | awk -F '/' 'END {print $5}'` | sed 's/,/./'); mdev=$(printf "%0.1f" `echo $output | awk -F '/' 'END {print $7}' | sed 's/ .*//'` | sed 's/,/./'); echo $avg ± $mdev ms}

Down: ${downspeed enp47s0u2u1u2} / s ${alignr} Up: ${upspeed enp47s0u2u1u2} / s
${downspeedgraph enp47s0u2u1u2 25,200 ffffff ffffff} ${alignr}${upspeedgraph enp47s0u2u1u2 25,200 ffffff ffffff}
Total: ${totaldown enp47s0u2u1u2} ${alignr}Total: ${totalup enp47s0u2u1u2}
#Inbound: ${tcp_portmon 1 32767 count} Outbound: ${tcp_portmon 32768 61000 count}${alignr}


]];
