/* Copyright (C) 2020-2023 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #0F1B25;
    background-alt: #162837;
    foreground:     #d2e6ea;
    selected:       #71ABB9;
    active:         #528799;
    urgent:         #467687;
}
