/* Copyright (C) 2020-2023 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #121a1e;
    background-alt: #1b272d;
    foreground:     #d4d5d8;
    selected:       #C0C0BE;
    active:         #A2A29B;
    urgent:         #919491;
}
